@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.navbar-brand{
  font-size: 1.9rem!important;
  color: #565387!important;
}
.navbar a{
  font-size: 1.2rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border: 1px solid #565387!important;
}
.navbar a:hover{
  color: #3498db!important;
}
